/* GENERAL */

/* FOOTER */

#footer-bespoke {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0.1%;
}

/* MEDIA QUERIES */

@media (max-width:767px) {
    h2 {
        font-size: smaller;
    }
    .section-heading-lower-spiced {
        font-size: 2rem!important;
    }
}

/*@media (min-width:767px) and (max-height:500px) {*/
/*    .col-master {*/
/*        margin-top: 5%;*/
/*        margin-bottom: 5%;*/
/*        max-width: 85%;*/
/*    }*/
/*}*/