/* GENERAL */

.font-raleway {
    font-family: Raleway;
}

#wrong-answer {
    font-size: x-large;
}

#longo-button {
    width: 70%!important;
}

/* FOOTER */

#footer-bespoke {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* MEDIA QUERIES */

@media (max-width:767px) {
    h2 {
        font-size: smaller;
    }
    .section-heading-lower-spiced {
        font-size: 1.5em!important;
    }
    #image-question {
        width: 100%;
        height: 100%;
    }
    #discover-answer-button {
        width: 100%;
    }
    #discover-answer-text {
        font-size: smaller;
    }
}


/*@media (min-width:767px) and (max-height:500px) {*/
/*    .col-master {*/
/*        margin-top: 5%;*/
/*        margin-bottom: 5%;*/
/*        max-width: 85%;*/
/*    }*/
/*}*/