<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap -->
    <link href="{{ url_for( 'static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel=" stylesheet " />
    <link rel="stylesheet" href="static/styles.css" type="text/css" />
    <title>Coffe Quiz</title>
</head>
<body>
    <h1>The Big Coffee Quiz</h1>
    
    <!--Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<footer>
    
</footer>
</body>
</html>