{% extends "base.html" %} {% block content %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
                <span class="section-heading-upper mb-4">Test your coffee knowledge</span>
                <span class="section-heading-lower">The Big Coffee Quiz</span>
            </h2>
            <h3 class="mb-4"> Well Done {{ username }}!</h3>
            <h4 class="mb-5">Your score is: {{ score }}</h4>
            <!-- Render High Scored and Top Players Names - START -->
            <div class="mb-5">TOP SCORES</div>
            <!-- Render High Scored and Top Players Names - END -->
            <!-- Play Again Button -START -->
            <div class="intro-button mx-auto">
                <a href="{{url_for('index')}}">
                    <button class="btn btn-primary" type="submit">Play Again</button>
                </a>
            </div>
            <!-- Play Again Button - END -->
        </div>
    </div>
</section>

{% endblock %}