{% extends "base.html" %} {% block content %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
                <p class="mb-3">Hello, {{ username }}. Let's coffee up!</p>
                <span class="section-heading-lower">Question 1 of {{ number_of_questions }}</span>
                <span class="font-weight-light text-muted">Score: {{ score }} of {{ number_of_questions }}</span>
                <p>Question: </p>
                <!--#Trying to get image - START-->
                <!--<p>{{ coffee_question }}</p>-->
                <!--{% if coffee_image %}-->
                <!--<div>-->
                <!--    <p>Pictorial Question:</p>-->
                <!--    <img src={{ coffee_image }}>-->
                <!--</div>-->
                <!--{% endif %}-->
                <!--#Trying to get image - END-->
            </h2>
            
            <!--PENDING - Trying to get the "Try Again" collapsible button to 
            render when the guess is different to the correct answer-->
            {% if coffee_guess != coffee_answer %}
            <div id="discover-answer">
                <button class="btn btn-primary discover-answer" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Click here to discover answer
                </button>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <p>The answer to this question is: <span class="font-weight-bold">{{ coffee_answer }}</span></p>
                    </div>
                </div>
            </div>
            {% endif %}
            <form method="POST" action="/quiz">
                <label for="answer">Your answer:</label>
                <input type="text" id="answer" name="answer" required>
                <div class="intro-button mx-auto">
                    <!--Remember to link to the root, not to the .html template! -->
                    <button class="btn btn-primary" type="submit">Submit your answer</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
