{% extends "base.html" %}

{% block content %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
                <p class="mb-3">Hello, {{ username }}. Let's coffee up!</p>
                <span class="section-heading-lower">Question 1 of 12</span>
                <span class="font-weight-light text-muted">Score: {{ score }} of 12</span>
                <p>Question: </p>
                <p>{{ coffee_question }}</p>
            </h2>
            <p class="mb-3"> This is the space where the correct answer will be rendered in case of a wrong answer</br>
                Invitation to please try again</p>
            <form method="POST" action="/quiz">
                <label for="answer">Your answer:</label>
                <input type="text" id="answer" name="answer" required>
                <div class="intro-button mx-auto">
                    <!--Remember to link to the root, not to the .html template! -->
                    <button class="btn btn-primary" type="submit">Submit your answer</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
